@keyframes flip {
    0%, 100% {
        transform: scaleX(100%);
    }
    50% {
        transform: scaleX(0%);
    }
}

.flipping {
    animation: flip 0.3s;
}

.card-front, .label-front {
    display: grid;
}
.card-back, .label-back {
    display: none;
}

.card.flipped {
    .card-front, .label-front {
        display: none;
    }
    .card-back, .label-back {
        display: grid;
    }
}
