* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  display: contents;
}

body {
  font-family: "Barlow", sans-serif;
}
body:has(.selected) .list-edit-icons {
  opacity: 0.8;
  pointer-events: auto;
}

dialog::backdrop {
  background-color: grey;
  opacity: 0.5;
}

/* nav styling */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 51;
}
.navbar div {
  display: flex;
  flex-direction: row;
}

a {
  color: black;
  text-decoration: none;
}

a:has(.nav-button):hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: #f4f3f0;
}

.nav-button {
  list-style-type: none;
  padding: 1em;
  transition: background-color, 0.2s;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

/* main styling */
.main {
  position: relative;
}

.output {
  height: 90vh;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.item {
  position: relative;
  background-color: #F6EEE3;
  padding: 0.5em;
  margin: 0.5em;
  aspect-ratio: 1.414/1;
  font-size: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.card, .create-card {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 30px auto;
  grid-template-areas: "label icons flip-icon" "main main main";
}

.deck, .card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.deck p {
  width: 100%;
  word-break: break-word;
}

.card-front, .label-front {
  display: grid;
}

.card-back, .label-back {
  display: none;
}

.card.flipped .card-front, .card.flipped .label-front {
  display: none;
}
.card.flipped .card-back, .card.flipped .label-back {
  display: grid;
}

.last {
  order: 99999;
}

.create-card {
  background-color: white;
  border: black 1px dashed;
  border-radius: 5px;
}
.create-card .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectable {
  transition: transform 0.2s;
}
.selectable:hover {
  cursor: pointer;
}
.selectable.selected {
  transform: translateY(-6px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.selectable.selected .card-edit-icons {
  display: flex;
}

.label {
  grid-area: label;
  font-size: 1.1rem;
  opacity: 0.6;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  place-items: center;
  padding: 8px;
}

.card-edit-icons {
  z-index: 50;
  grid-area: icons;
  align-items: center;
  justify-content: center;
  display: none;
}

.card-edit-icon {
  margin: 0px 8px;
  opacity: 0.3;
}

.list-edit-icons {
  opacity: 0.2;
  pointer-events: none;
}
.list-edit-icons .icon {
  margin: 0px 12px;
}

.flip-icon {
  z-index: 50;
  grid-area: flip-icon;
  opacity: 0.3;
  margin-left: auto;
}

.hoverable {
  transition: 0.2s;
}
.hoverable:hover {
  transform: scale(1.2);
  opacity: 0.8;
  cursor: pointer;
}

.empty-line {
  height: 1rem;
}

/* form styling */
.card-form-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.card-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 50px;
}
.card-form textarea {
  height: 25%;
  width: 100%;
}
.card-form button {
  margin-top: 20px;
  width: 80px;
}
.card-form > p, .card-form .description {
  padding: 10px;
}
.card-form select {
  padding: 10px;
  width: 100%;
  height: 80px;
}
.card-form .tags-wrapper {
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card-form .tags-wrapper .tag-wrapper {
  padding: 2px;
}
.card-form .tags-wrapper .tag-wrapper input {
  margin-right: 3px;
}

.card-wrapper {
  flex: 2;
  padding: 50px;
}
.card-wrapper .card {
  font-size: 4rem;
}

.form-button {
  all: unset;
  padding: 1em;
  border: 1px solid black;
  text-align: center;
  transition: background-color, 0.2s;
}
.form-button:hover {
  cursor: pointer;
  background-color: #f4f3f0;
}

.deck-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  width: 40%;
}
.deck-form textarea, .deck-form input, .deck-form select {
  margin: 20px;
}

/* inline form styling */
.grey-form {
  z-index: 101;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  background-color: white;
  border-radius: 10px;
}
.grey-form select {
  width: 200px;
  height: 50px;
}
.grey-form .buttons {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.tags-in-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}
.tags-in-form .tag-wrapper {
  padding: 3px;
}

.list-modifiers {
  display: flex;
  height: 60px;
  flex-direction: row;
  padding: 25px 15px 15px 15px;
  align-items: center;
  justify-content: space-between;
}

.left-list-modifiers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}

.banner {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 10px;
  position: fixed;
  z-index: 50;
  top: 51px;
}

.success {
  background-color: rgb(107, 252, 197);
}

.error {
  background-color: rgb(240, 178, 153);
}

/* deck detail styling */
.deck-meta {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.deck-meta h3, .deck-meta h1 {
  padding: 10px;
}
.deck-meta h3:hover, .deck-meta h1:hover {
  cursor: pointer;
  background-color: #f4f3f0;
}

.deck-options {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.deck-options button {
  margin: 10px;
}

.deck-play {
  display: grid;
  height: 90vh;
  width: 100vw;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-columns: 1fr;
}

.deck-play-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.grey {
  opacity: 0.2;
  pointer-events: none;
}/*# sourceMappingURL=styles.css.map */