{% load static %}
{% load markdown_filter %}

{% for card in card_list %}

    <div class="card grid grid-rows-10 shadow-md p-3 h-80 bg-offwhite-light transition select-none" _="on click toggle .selected on closest .card">
        <input type="hidden" name="card_id" value="{{ card.pk }}" />

        <div class="flex flex-row justify-between">
            <p class="label-front">Front: </p>
            <p class="label-back">Back: </p>
    
            <div class="edit-icons hidden flex-row justify-between w-2/5">
    
                <img class="opacity-30 hover:opacity-70 transition hover:scale-110" src="{% static 'frontend/icons/bin.svg' %}" width="25px" height="25px" title="Delete Card" alt="Delete Card"
                    hx-delete="{% url 'delete_card' pk=card.id %}"
                    hx-trigger="click"
                    hx-target="closest .card"
                    hx-swap="outerHTML"
                    _="on click halt bubbling"/>
            
                <a class="contents" href="{% url 'update_card' card.pk %}?next={{ request.path|urlencode }}"><img class="opacity-30 hover:opacity-70 transition hover:scale-110" src="{% static 'frontend/icons/pencil.svg' %}" width="25px" height="25px" title="Edit Card" alt="Edit Card"/></a>
            
                {% if deck %}
                    {% include 'frontend/partials/remove-from-deck-icon.html' %}
                {% else %}
                    {% include 'frontend/partials/add-to-deck-icon.html' %}
                {% endif %}
            
                <img class="opacity-30 hover:opacity-70 transition hover:scale-110" src="{% static 'frontend/icons/tag.svg' %}" width="25px" height="25px" title="Set Tags for Card" alt="Set Tags for Card"
                    hx-get="{% url 'tag_card_form' pk=card.pk %}"
                    hx-target="#forms"
                    _="on click halt bubbling"/>
                    
            </div>
    
            <img class="flip-icon col-start-8 opacity-30 hover:opacity-70 hover:scale-110 transition" src="{% static 'frontend/icons/curve-down-arrow.svg' %}" width="25px" height="25px" title="Flip" alt="Flip" 
                _="on click halt the event's bubbling
                    add .flipping to closest .card then
                    wait 150 ms then
                    toggle .flipped on closest .card then
                    wait 150 ms then
                    remove .flipping from closest .card then
                    "/>
        </div>

        <div class="card-front place-items-center row-start-2 row-end-10 w-full text-2xl [word-break:break-word]">
            {{ card.front|markdownify|safe }}
        </div>
        <div class="card-back place-items-center row-start-2 row-end-10 w-full text-2xl [word-break:break-word]">
            {{ card.back|markdownify|safe }}
        </div>

    </div>

{% endfor %}