{% load static %}

<div class="card-edit-icons">

    <img class="icon hoverable card-edit-icon card-bin-icon" src="{% static 'frontend/icons/bin.svg' %}" width="25px" height="25px" title="Delete Card" alt="Delete Card"
        hx-delete="{% url 'delete_card' pk=card.id %}"
        hx-trigger="click"
        hx-target="closest .card"
        hx-swap="outerHTML"
        _="on click halt bubbling"/>

    <a href="{% url 'update_card' card.pk %}"><img class="icon hoverable card-edit-icon card-pencil-icon" src="{% static 'frontend/icons/pencil.svg' %}" width="25px" height="25px" title="Edit Card" alt="Edit Card"/></a>

    <img class="icon hoverable card-edit-icon card-add-to-deck-icon" src="{% static 'frontend/icons/remove.svg' %}" width="25px" height="25px" title="Add Card to Decks" alt="Add Card to Decks"
        hx-get="{% url 'remove_card' deck_pk=deck.pk card_pk=card.pk %}"
        hx-target="closest .card"
        hx-swap="outerHTML"
        _="on click halt bubbling"/>

    <img class="icon hoverable card-edit-icon card-add-tags-icon" src="{% static 'frontend/icons/tag.svg' %}" width="25px" height="25px" title="Set Tags for Card" alt="Set Tags for Card"
        hx-get="{% url 'tag_card_form' pk=card.pk %}"
        hx-target="#forms"
        _="on click halt bubbling"/>
        
</div>