{% load static %}

{% if tag %}
    <div class="tag-checkbox-option flex items-center mb-1">
        <img src="{% static 'frontend/icons/x.svg' %}" width="15px" height="15px" title="Delete Tag" class="mr-8 bg-red-200 p-1 rounded-md"
            hx-delete="{% url 'delete_tag' tag.pk %}"
            hx-target="closest .tag-checkbox-option"
            hx-swap="outerHTML">
        <label>
            <input type="checkbox" id="new-tag-{{tag.pk}}" name="tags" value="{{tag.pk}}">
            {{ tag.name }}
        </label>     
    </div>
{% endif %}

{% include 'frontend/modal-forms/tag-create-form.html' %}

{% include 'frontend/partials/update-tags.html' %}