{% load static %}
{% load filters %}

<p class="mb-3 text-xl">
    Card {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
</p>

<div class="card grid grid-rows-10 shadow-md p-3 h-[500px] w-2/3 bg-offwhite-light transition select-none">
    <input type="hidden" name="card_id" value="{{ card.pk }}" />

    <div class="flex flex-row justify-between">
        <p class="label-front">Front: </p>
        <p class="label-back">Back: </p>

        <img class="flip-icon col-start-8 opacity-30 hover:opacity-70 hover:scale-110 transition" src="{% static 'frontend/icons/curve-down-arrow.svg' %}" width="40px" height="40px" title="Flip" alt="Flip" 
            _="on click halt the event's bubbling
                add .flipping to closest .card then
                wait 150 ms then
                toggle .flipped on closest .card then
                wait 150 ms then
                remove .flipping from closest .card then
                remove .grey from .deck-review-footer"/>
    </div>

    <div class="card-front place-items-center row-start-2 row-end-10 w-full text-2xl [word-break:break-word]">
        {{ card.front|markdownify|safe }}
    </div>
    <div class="card-back place-items-center row-start-2 row-end-10 w-full text-2xl [word-break:break-word]">
        {{ card.back|markdownify|safe }}
    </div>

</div>


<form class="deck-review-footer mt-8 grey"
    hx-post="{% url 'deck_review' deck.id %}"
    hx-trigger="change"
    hx-swap="outerHTML"
    hx-target=".review-card-container"
    hx-push-url="true">

    <input type="hidden" name="card_id" value="{{ card.id }}" />
    <input type="hidden" name="page_num" value="{{ page_obj.number }}" />

    {% for radio in form.confidence %}
        <div class="radio">
        {{ radio.tag }}
        <label for="{{ radio.id_for_label }}">
            {{ radio.choice_label }} ({{ result_times|index:forloop.counter0 }})
        </label>
        </div>
    {% endfor %}

</form>