{% load static %}
{% load filters %}

<div class="deck-study-card-container">

    <span class="current">
        Card {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_previous %}

        <div class="deck-study-left-arrow" 
            hx-get="{% url 'deck_study' deck.id %}?page={{ page_obj.previous_page_number }}" 
            hx-push-url="true"
            hx-target=".deck-study-card-container"
            hx-swap="outerHTML">Left Arrow</div>

    {% endif %}
    
    <div class="deck-study-card">
        <div class="card item">
            <input type="hidden" name="card_id" value="{{ card.pk }}" />
        
            <p class="label label-front">Front: </p>
            <p class="label label-back">Back: </p>
        
            <img class="icon hoverable flip-icon" src="{% static 'frontend/icons/curve-down-arrow.svg' %}" width="50px" height="50px" title="Flip" alt="Flip"/>
        
            <div class="card-front">
                {{ card.front|markdownify|safe }}
            </div>
            <div class="card-back">
                {{ card.back|markdownify|safe }}
            </div>
        
        </div>
    </div>
    
    {% if page_obj.has_next %}
        <div class="deck-study-right-arrow" 
            hx-get="{% url 'deck_study' deck.id %}?page={{ page_obj.next_page_number }}" 
            hx-push-url="true"
            hx-target=".deck-study-card-container"
            hx-swap="outerHTML">Right Arrow</div>
    {% endif %}

</div>