{% load static %}
{% load filters %}

<p class="mb-3 text-xl">
    Card {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
</p>

<div class="flex flex-row items-center justify-between w-full h-full">
    
    <img src="{% static 'frontend/icons/left-arrow.svg' %}" class="hover:scale-110 transition aspect-square double:w-28 single:w-16 opacity-70 {% if not page_obj.has_previous %}grey{% endif %}" 
        hx-get="{% if page_obj.has_previous %}{% url 'deck_study' deck.id %}?page={{ page_obj.previous_page_number }}{% endif %}" 
        hx-push-url="true"
        hx-target=".study-card-container">
    
    <div class="list-container mx-auto">
        <div class="card grid grid-rows-10 shadow-md p-3 aspect-[8/5] w-full triple:w-3/5 double:w-4/5 mx-auto bg-offwhite-light transition select-none">
            <input type="hidden" name="card_id" value="{{ card.pk }}" />
        
            <div class="flex flex-row justify-between">
                <p class="label-front">Front: </p>
                <p class="label-back">Back: </p>
        
                <img class="flip-icon col-start-8 opacity-30 hover:opacity-70 hover:scale-110 transition aspect-square double:w-10 single:w-6" src="{% static 'frontend/icons/curve-down-arrow.svg' %}" title="Flip" alt="Flip" 
                    _="on click halt the event's bubbling
                        add .flipping to closest .card then
                        wait 150 ms then
                        toggle .flipped on closest .card then
                        wait 150 ms then
                        remove .flipping from closest .card then
                        "/>
            </div>
        
            <div class="card-front place-items-center row-start-2 row-end-10 w-full text-2xl [word-break:break-word]">
                {{ card.front|markdownify|safe }}
            </div>
            <div class="card-back place-items-center row-start-2 row-end-10 w-full text-2xl [word-break:break-word]">
                {{ card.back|markdownify|safe }}
            </div>
        
        </div>
    </div>

    <img src="{% static 'frontend/icons/right-arrow.svg' %}" class="hover:scale-110 transition opacity-70 aspect-square double:w-28 single:w-16 {% if not page_obj.has_next %}grey{% endif %}" 
        hx-get="{% if page_obj.has_next %}{% url 'deck_study' deck.id %}?page={{ page_obj.next_page_number }}{% endif %}" 
        hx-push-url="true"
        hx-target=".study-card-container">

</div>