{% extends "layout.html" %}
{% load static %}
{% load filters %}

{% block body %}

    <div class="list-container flex flex-col mx-auto my-8">
        <p class="mb-3 text-6xl">{{ deck.title }}</p>
        <p class="mb-10 text-3xl">{{ deck.description }}</p>
    
        
        <div class="flex">
            <div class="{% if not card_list|length > 0%}grey{% endif %}">
                <a href="{% url 'deck_study' deck.pk %}" class="contents"><button class="p-3 bg-offwhite-light shadow-sm rounded-md mr-3">Study</button></a>
                <a href="{% url 'deck_learn' deck.pk %}?new=True" class="contents"><button class="p-3 bg-offwhite-light shadow-sm rounded-md mr-3">Learn</button></a>
            </div>
    
            <a class="contents" href="{% url 'update_deck' deck.pk %}?next={{ request.path }}"><button class="p-3 bg-offwhite-light shadow-sm rounded-md mr-3">Edit</button></a>
    
            <a class="contents" href="{% url 'delete_deck' deck.pk %}"><button class="p-3 bg-red-200 shadow-sm rounded-md mr-3">Delete</button></a>
        </div>

    </div>

    <main class="list flex flex-col border-t border-t-offwhite-dark">

        <div class="flex flex-row items-center justify-between p-3 pl-0">
            <div class="order-and-filter flex double:flex-row single:flex-col double:items-center single:items-start p-1 pl-0 justify-between">

                <!-- handler doesn't get deleted when filter updates -->
                <!-- some of the most scuffed code i've ever written -->
                <div class="hidden" id="load-card-handler" 
                    hx-get="{% url 'deck_detail' deck.id %}"
                    hx-include="#order-select, .tag, #filter-select-container"
                    hx-trigger="loadCards"
                    hx-target="#cards-in-card-list"
                    hx-push-url="true"></div>

                <div id="filter-select-container"
                    hx-get="{% url 'tag_select_list' %}?{{ request.GET.urlencode }}" 
                    hx-trigger="load" 
                    hx-target="#filter-select"
                    hx-push-url="false">

                    <input type="hidden" name="deck" value="{{ deck.id }}" />
                
                    <select name="filter" id="filter-select" class="p-2 shadow-sm bg-offwhite-light single:mb-4"
                        _="on change send loadCards to #load-card-handler"
                        hx-swap-oob="outerHTML">
                
                        <option id="all-cards-tag" class="filter-option" value="0">Add A Filter</option>              
                    </select>
                </div>
           
                <!-- order selector -->
                <div class="double:ml-9">
                    <label for="order-select" class="single:hidden">Sort By:</label>
                    <select name="order_by" id="order-select" class="p-2 shadow-sm bg-offwhite-light"
                    hx-get="{% url 'deck_detail' deck.id %}" 
                        hx-include="#filter-select"
                        hx-trigger="change" 
                        hx-target="#cards-in-card-list">
    
                        <option class="order-option" value="date_created"
                            hx-get="{% url 'order_select_list' %}?{{ request.GET.urlencode }}" 
                            hx-trigger="load" 
                            hx-target="this"
                            hx-swap="outerHTML">Oldest</option>
                        <!-- <option value="-date_created">Newest</option>
                        <option value="date_edited">Least Recently Edited</option>
                        <option value="-date_edited">Most Recently Edited</option>
                        <option value="date_last_reviewed">Least Recently Reviewed</option>
                        <option value="-date_last_reviewed">Most Recently Reviewed</option> -->
                    </select>
                </div>
            </div>
    

                <div class="list-edit-icons hidden align-middle justify-between">
                    <!-- delete requests are weird so imma use post for this one -->
                    <img class="mr-5 single:mr-3 opacity-30 hover:opacity-70 transition hover:scale-110" src="{% static 'frontend/icons/bin.svg' %}" width="30px" height="30px" title="Delete Selected Cards" alt="Delete Selected Cards"
                        hx-post="{% url 'delete_card_multiple' %}" 
                        hx-include=".selected, #left-list-modifiers"
                        hx-target="#cards-in-card-list"/>
    
                    <img class="ml-5 mr-5 single:ml-3 single:mr-3 opacity-30 hover:opacity-70 transition hover:scale-110" src="{% static 'frontend/icons/remove.svg' %}" width="30px" height="30px" title="Remove Cards From Decks" alt="Remove Cards from Decks"
                        hx-get="{% url 'remove_card_multiple' deck.id %}"
                        hx-include=".selected, #left-list-modifiers"
                        hx-target="#cards-in-card-list"/>
    
                    <img class="ml-5 single:ml-3 opacity-30 hover:opacity-70 transition hover:scale-110" src="{% static 'frontend/icons/tag.svg' %}" width="30px" height="30px" title="Add Tags to Cards" alt="Add Tags to Cards"
                        hx-get="{% url 'tag_card_multiple_form' %}"
                        hx-target="#forms"/>
                </div>

        </div>

        {% include 'frontend/partials/tags.html' %}

        <section class="list">

            <section id="cards-in-card-list" class="contents">{% include 'frontend/partials/cards.html' %}</section>

            <a href="{% url 'create_card' %}?next={{ request.path }}&deck={{ deck.id }}" class="contents order-last">
                <div class="grid grid-rows-10 p-3 h-80 bg-offwhite-light shadow-md select-none">
                        
                    <div class="grid place-items-center row-start-2 row-end-10 w-full text-2xl [word-break:break-word]">
                        <div class="flex flex-col items-center">
                            <img src="{% static 'frontend/icons/plus.svg' %}" width="40px" height="40px"/>
                            <p>Create New Card</p>
                        </div>
                    </div>
                    
                </div>
            </a>

        </section>

    </main>


{% endblock %}