{% extends "layout.html" %}
{% load static %}
{% load markdown_filter %}

{% block scripts %}
    <script src="{% static 'frontend/cards.js' %}"></script>
{% endblock %}

{% block body %}

    <main class="main">

        <div class="list-modifiers">
            <div class="left-list-modifiers">
                <input type="hidden" name="deck" value="{{ deck.pk }}" />

                <p>Filter By Tag: </p>
                <select name="filter" class="filter-select" 
                    hx-get="{% url 'card_list' %}"
                    hx-include=".left-list-modifiers"
                    hx-trigger="change"
                    hx-target="#cards-in-card-list">

                    <option id="all-cards-tag" class="filter-tag" value="0" 
                        hx-get="{% url 'tag_select_list' %}" 
                        hx-trigger="load" 
                        hx-target="this"
                        hx-swap="afterend"
                        hx-push-url="false">
                        All Cards</option>
                </select>
                
                <p>Sort By:</p>
                <select name="order_by" class="order-select" 
                    hx-get="{% url 'card_list' %}" 
                    hx-include=".left-list-modifiers"
                    hx-trigger="change" 
                    hx-target="#cards-in-card-list">

                    <option class="order-option" value="date_created"
                        hx-get="{% url 'order_select_list' %}" 
                        hx-trigger="load" 
                        hx-target="this"
                        hx-swap="outerHTML"
                        hx-push-url="false">Oldest</option>
                    <!-- <option value="-date_created">Newest</option>
                    <option value="date_edited">Least Recently Edited</option>
                    <option value="-date_edited">Most Recently Edited</option>
                    <option value="date_last_reviewed">Least Recently Reviewed</option>
                    <option value="-date_last_reviewed">Most Recently Reviewed</option> -->
                </select>
            </div>
    
            <div class="list-edit-icons">
                <img class="icon list-edit-icon list-remove-icon hoverable" src="{% static 'frontend/icons/remove.svg' %}" width="40px" height="40px" title="Remove Cards from Deck" alt="Remove Cards from Deck"
                    hx-post="{% url 'remove_card_multiple' deck.id %}"
                    hx-include=".selected, .left-list-modifiers"
                    hx-target="#cards-in-card-list"/>    

                <img class="icon list-edit-icon list-add-to-deck-icon hoverable" src="{% static 'frontend/icons/add.svg' %}" width="40px" height="40px" title="Add Cards To Decks" alt="Add Cards To Decks"/>
                <img class="icon list-edit-icon list-add-tags-icon hoverable" src="{% static 'frontend/icons/tag.svg' %}" width="40px" height="40px" title="Add Tags to Cards" alt="Add Tags to Cards"/>
            </div>
        </div>

        <div class="deck-meta">
            <h1>{{ deck.title }}</h1>
            <h3>{{ deck.description }}</h3>
        </div>

        <div class="deck-options">
            <a href="{% url 'deck_study' deck.pk %}?new=True"><button class="btn study-btn form-button">Study</button></a>
            <button class="btn play-btn form-button">Play</button>
        </div>

        <div class="list card-list">
        
            <section id="cards-in-card-list" class="container">{% include 'frontend/partials/cards.html' %}</section>

            <a href="{% url 'create_card' %}?next={{ request.path|urlencode }}&deck={{ deck.id }}" class="last">
                <div class="item create-card">
                        
                    <div class="card-front">
                        <div class="wrapper">
                            <img src="{% static 'frontend/icons/plus.svg' %}" width="40px" height="40px"/>
                            <p>Create New Card</p>
                        </div>
                    </div>
                    
                </div>
            </a>
        
        </div>

    </main>

{% endblock %}