{% extends "layout.html" %}
{% load static %}

{% block scripts %}{% endblock %}

{% block body %}

    <div class="container flex flex-col mx-auto my-8">
        <p class="mb-3 text-4xl">Decks to Review</p>
    </div>

    {% for deck_obj in deck_list %}
    
        <a href="{% url 'deck_review' deck_obj.deck.id %}?new=True" class="contents">
            <div class="flex flex-row justify-between container mx-auto my-5 p-8 bg-offwhite-light rounded-md shadow-sm {% if deck_obj.cards == 0 %}grey{% endif %}">
                <b class="text-xl">{{ deck_obj.deck.title }}</b>
                <div class="flex">
                    <p class="mr-5">Cards to Review: <b>{{ deck_obj.cards }}</b></p>
                    <p class="single:hidden">Last Reviewed on <b>{{ deck_obj.deck.date_last_reviewed }}</b></p>
                </div>
            </div>
        </a>    
    
    {% endfor %}

{% endblock %}
