{% extends "layout.html" %}
{% load static %}
{% load filters %}
{% load widget_tweaks %}


{% block scripts %}{% endblock %}

{% block body %}

    <main class="list flex flex-col">

        <div class="flex flex-row align-middle justify-between p-3">
            <div class="order-and-filter flex items-center p-1 justify-between w-1/3">
                {% if request.path == '/card_list' %}

                <!-- handler doesn't get deleted when filter updates -->
                <!-- some of the most scuffed code i've ever written -->
                <div class="hidden" id="load-card-handler" 
                    hx-get="{% url 'card_list' %}"
                    hx-include="#order-select, .tag, #filter-select"
                    hx-trigger="loadCards"
                    hx-target="#cards-in-card-list"
                    hx-push-url="true"></div>

                <div id="filter-select-container"
                    hx-get="{% url 'tag_select_list' %}?{{ request.GET.urlencode }}" 
                    hx-trigger="load" 
                    hx-target="#filter-select"
                    hx-push-url="false">
                
                    <select name="filter" id="filter-select" class="p-2 shadow-sm bg-offwhite-light"
                        _="on change send loadCards to #load-card-handler"
                        hx-swap-oob="outerHTML">
                
                        <option id="all-cards-tag" class="filter-option" value="0">Add A Filter</option>              
                    </select>
                </div>

                    <div id="add-tag" class="tag rounded-sm bg-offwhite-light flex p-3 [flex-basis:content] shadow-sm" value="0"
                        hx-get="{% url 'tag_select_form' %}"
                        hx-swap="beforeend"
                        hx-push-url="false">
                        <input type="hidden" name="filter" value="0" />
                        <img src="{% static 'frontend/icons/plus.svg' %}" width="15px" height="15px"/>
                        <span class="ml-2">Add a filter</span>
                    </div>

                    <!-- <form class="tag rounded-sm bg-offwhite-light flex flex-col p-4 [flex-basis:content] shadow-md min-w-32 z-50">
                    
                        {% render_field form.tags %}
                        
                    </form> -->
                {% endif %}
           
                <!-- order selector -->
                <div>
                    <label for="order-select">Sort By:</label>
                    <select name="order_by" id="order-select" class="p-2 shadow-sm bg-offwhite-light"
                        hx-get="{% if request.path == '/card_list' %}{% url 'card_list' %}{% elif request.path == '/deck_list' %}{% url 'deck_list' %}{% endif %}" 
                        hx-include="#filter-select"
                        hx-trigger="change" 
                        hx-target="{% if request.path == '/card_list' %}#cards-in-card-list{% elif request.path == '/deck_list' %}#decks-in-deck-list{% endif %}"
                        hx-push-url="true">
    
                        <option class="order-option" value="date_created"
                            hx-get="{% url 'order_select_list' %}?{{ request.GET.urlencode }}" 
                            hx-trigger="load" 
                            hx-target="this"
                            hx-swap="outerHTML"
                            hx-push-url="false">Oldest</option>
                        <!-- <option value="-date_created">Newest</option>
                        <option value="date_edited">Least Recently Edited</option>
                        <option value="-date_edited">Most Recently Edited</option>
                        <option value="date_last_reviewed">Least Recently Reviewed</option>
                        <option value="-date_last_reviewed">Most Recently Reviewed</option> -->
                    </select>
                </div>
            </div>
    
            {% if request.path == '/card_list'%}
                <div class="list-edit-icons hidden align-middle justify-between">
                    <!-- delete requests are weird so imma use post for this one -->
                    <img class="ml-5 mr-5 opacity-30 hover:opacity-70 transition hover:scale-110" src="{% static 'frontend/icons/bin.svg' %}" width="40px" height="40px" title="Delete Selected Cards" alt="Delete Selected Cards"
                        hx-post="{% url 'delete_card_multiple' %}" 
                        hx-include=".selected, #left-list-modifiers"
                        hx-target="#cards-in-card-list"/>
    
                    <img class="ml-5 mr-5 opacity-30 hover:opacity-70 transition hover:scale-110" src="{% static 'frontend/icons/add.svg' %}" width="40px" height="40px" title="Add Cards To Decks" alt="Add Cards To Decks"
                        hx-get="{% url 'deck_card_multiple_form' %}"
                        hx-target="#forms"/>
    
                    <img class="ml-5 mr-5 opacity-30 hover:opacity-70 transition hover:scale-110" src="{% static 'frontend/icons/tag.svg' %}" width="40px" height="40px" title="Add Tags to Cards" alt="Add Tags to Cards"
                        hx-get="{% url 'tag_card_multiple_form' %}"
                        hx-target="#forms"/>
                </div>
            {% endif %}
        </div>

        {% include 'frontend/partials/tags.html' %}

        <section class="container mx-auto my-8 grid lg:grid-cols-3 gap-4 sm:grid-cols-2 xs:grid-cols-1 justify-center">

            {% if request.path == '/card_list' %}
                <section id="cards-in-card-list" class="contents">{% include 'frontend/partials/cards.html' %}</section>
    
                <a href="{% url 'create_card' %}" class="contents order-last">
                    <div class="grid grid-rows-10 p-3 h-80 bg-offwhite-light shadow-md select-none">
                            
                        <div class="grid place-items-center row-start-2 row-end-10 w-full text-2xl [word-break:break-word]">
                            <div class="flex flex-col items-center">
                                <img src="{% static 'frontend/icons/plus.svg' %}" width="40px" height="40px"/>
                                <p>Create New Card</p>
                            </div>
                        </div>
                        
                    </div>
                </a>
            {% elif request.path == '/deck_list' %}
                <section id="decks-in-deck-list" class="contents">{% include 'frontend/partials/decks.html' %}</section>
    
                <a href="{% url 'create_deck' %}" class="contents order-last">
                    <div class="grid grid-rows-10 p-3 h-80 bg-offwhite-light shadow-md select-none">
                            
                        <div class="grid place-items-center row-start-2 row-end-10 w-full text-2xl [word-break:break-word]">
                            <div class="flex flex-col items-center">
                                <img src="{% static 'frontend/icons/plus.svg' %}" width="40px" height="40px"/>
                                <p>Create New Deck</p>
                            </div>
                        </div>
                        
                    </div>
                </a>
            {% endif %}

        </section>

    </main>

{% endblock %}