{% load widget_tweaks %}
{% load static %}

<div class="rounded-sm bg-offwhite-light flex flex-col p-4 [flex-basis:content] shadow-md absolute -top-1 -left-1 min-w-32 z-50">
    {% for tag in form.tags %}
 
        <input type="hidden" name="filter" value="{{ tag.data.value }}" id="{{ tag }}" />
        <button type="button" class="appearance-none bg-inherit hover:bg-offwhite-dark p-2 text-left select-none" 
            hx-get="{% url 'card_list' %}"
            hx-trigger="click"
            hx-include="#order-select, .tag"
            hx-target="#cards-in-card-list"
            hx-push-url="true">{{ tag }}</button>

    {% endfor %}
</div>
